.nav {
  padding-top: 20px;
  color: getColor("white-text");
}

.nav__logo_link {
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  @include transition(transform scale);

  &:hover,
  &:focus {
    transform: scale(1.1);
    filter: brightness(130%);
  }
}

.nav__logo {
  fill: getColor("accent-text");
}

.nav__logo_name {
  margin-left: 5.69px;
  color: getColor("white-text");
  font-size: 32px;
  line-height: 1.32;

  & > span {
    color: getColor("accent-text");
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
width: 260px;
}

.nav__item {
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    background-color: rgba(40, 167, 69, 0.5);
    @include transition(width);
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

.header__fixed {
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100vw;
}

.header__fixed ~ main {
  padding-top: 103px;
}

// @media screen and (min-width: 768px) {
//   .nav {
//     padding: 13px 40px 0 32px;
//     display: flex;
//     justify-content: space-between;
//   }

//   .nav__logo_name {
//     margin-left: 9.69px;
//     font-size: 35px;
//     line-height: 1.21;
//   }

//   .nav__logo_name_accent {
//     margin-right: 8px;
//   }

//   .nav__list {
//     padding-top: 9px;
//     font-size: 18px;
//     line-height: 1.56;
//   }

//   .nav__item:not(:last-child) {
//     margin-right: 18px;
//   }

//   .header__fixed ~ main {
//     padding-top: 68px;
//   }
// }

// @media screen and (min-width: 1360px) {
//   .nav {
//     padding: 13px 50px 0 42px;
//   }

//   .nav__item:not(:last-child) {
//     margin-right: 38px;
//   }
// }
