.hero__bgimg {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 533px;
  left: 0;
  top: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../images/content/home/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  padding: 23px 19px 0 20px;
  color: getColor("white-text");
}
.nav__logo_link {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 12px;
}

.nav__logo {
  fill: getColor("accent-text");
  width: 39px;
  height: 35px;
}

.nav__logo_name {
  margin-left: 5.69px;
  color: getColor("white-text");
  font-size: 32px;
  line-height: 1.32;
}

.nav__logo_name_accent {
  color: getColor("accent-text");
}

.nav__list {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .hero__bgimg {
    height: 1024px;
  }

  .nav {
    padding: 13px 40px 0 32px;
    display: flex;
    justify-content: space-between;
  }

  .nav__logo_name {
    margin-left: 9.69px;
    font-size: 35px;
    line-height: 1.21;
  }

  .nav__logo_name_accent {
    margin-right: 8px;
  }

  .nav__list {
    padding-top: 9px;
    font-size: 18px;
    line-height: 1.56;
  }

  .nav__item:not(:last-child) {
    margin-right: 18px;
  }
}
