.hero__bgimg {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 530px;
  top: 0;
  left: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../images/content/home/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
      ),
      url("../images/content/home/showcase@2x.jpg");
  }

  @media screen and (min-width: $tablet) {
    height: 1024px;;
  }

  @media screen and (min-width: $desktop) {
    height: 768px;
  }
}

.hero {
  padding: 44px 0 95px 0;
  color: getColor("light-text");
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: 353px 0 412px 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 225px 0 284px 0;
  }
}

.hero__title {
  margin-bottom: 16px;
  font-size: 52px;
  line-height: 1.27;
  font-weight: 300;

  @media screen and (min-width: $tablet) {
    margin-bottom: 25px;
    font-size: 55px;
    line-height: 1.2;
  }
}

.hero__text {
  margin-bottom: 27px;
  font-size: 22px;
  line-height: 1.67;

  @media screen and (min-width: $tablet) {
    margin-bottom: 29px;
  }
}

.hero__btn {
  @extend %button;
  padding-left: 26px;
  padding-right: 30px;
  border: 0;
  background-color: getColor("main-accent-bcg");

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  & > i {
    margin-right: 8px;
  }

  @media screen and (min-width: $tablet) {
height: 48px;
  }
}
