.cases__container {
  padding: 50px 28px 38px 28px;
  text-align: center;
}

.cases__title {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.66;
}

.cases__text {
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.26;
}

.cases__text_description {
    margin-bottom: 37px;
    font-weight: normal;
font-size: 16px;
line-height: 1.6;
}

.cases__item {
  margin-bottom: 7px;
  width: 264px;
}

.cases__item_img {
  width: 100%;
}
