.about {
  padding-bottom: 30px;
  color: getColor("white-text");
  background-color: getColor("main-accent-bcg");

  @media screen and (min-width: $tablet) {
    padding-bottom: 0;
  }
}

.about__container {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.about__img {
  margin-bottom: 30px;
  width: 100vw;
  object-fit: cover;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    width: 50vw;
    height: 564px;
  }

  @media screen and (min-width: $desktop) {
    height: 640px;
  }
}

.about .container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0;
  }
  
  @media screen and (min-width: $desktop) {
    width: 590px;
  }
}

.about__before_title {
  margin-bottom: 5px;
  @include mobSectionBeforeTitle;
}

.about__title {
  margin-bottom: 25px;
  @include mobSectionTitle;

  @media screen and (min-width: $tablet) {
    @include tabSectionTitle;
  }
}

.about__text {
  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.about__btn {
  padding: 0 31px 0 41px;
  @extend %button;
  background-color: transparent;
  border: 1px solid #ffffff;

  &:hover,
  &:focus {
    color: getColor("main-accent-bcg");
    background-color: getColor("white-text");
  }
}