.cases {
  padding: 50px 0 46px 0;
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: 48px 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 50px 0 47px 0;
  }
}

.cases__before_title {
  margin-bottom: 15px;
  @include mobSectionBeforeTitle;

  @media screen and (min-width: $tablet) {
    @include tabSectionBeforeTitle;
  }
}

.cases__title {
  margin-bottom: 35px;
  @include mobSectionTitle;

  @media screen and (min-width: $tablet) {
    @include tabSectionTitle;
  }
}

.cases__text {
  margin-bottom: 37px;
}

.cases__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;

  @media screen and (min-width: $tablet) {
    margin: 0 -2px;
    flex-wrap: wrap;
    height: 237px;
    column-gap: 8px;
  }

  @media screen and (min-width: $desktop) {
    height: 435px;
  }
}

.cases__item {
  cursor: pointer;
  width: 264px;
  @include transition(opacity);

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media screen and (min-width: $tablet) {
    width: 172px;
  }

  @media screen and (min-width: $desktop) {
    width: 320px;
  }
}

.cases__item_img {
  width: 100%;
  height: auto;
}
