.blog {
  padding-bottom: 30px;
  color: getColor("white-text");
  background-color: getColor("add-accent-bcg");

  @media screen and (min-width: $tablet) {
    padding-bottom: 0;
  }
}

.blog__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    height: 517px;
  }
}

.blog__img {
  margin-bottom: 30px;
  width: 100vw;
  object-fit: cover;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    width: 50vw;
    height: 468px;
  }

  @media screen and (min-width: $desktop) {
    height: 517px;
  }
}

.blog .container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0;
  }

  @media screen and (min-width: $desktop) {
    width: 590px;
  }
}

.blog__date {
  margin-bottom: 5px;
  @include mobSectionBeforeTitle;

  @media screen and (min-width: $tablet) {
    @include tabSectionBeforeTitle;
  }
}

.blog__title {
  margin-bottom: 25px;
  @include mobSectionTitle;

  @media screen and (min-width: $tablet) {
    @include tabSectionTitle;
  }
}

.blog__text {
  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.blog__btn {
  @extend %button;
  padding: 0 31px 0 41px;
  background-color: transparent;
  border: 1px solid #ffffff;

  &:hover,
  &:focus {
    background-color: getColor("white-text");
    color: getColor("add-accent-bcg");
  }
}