.team {
  padding: 50px 0;
  text-align: center;
}

.team__container {
  padding: 50px 20px;
  text-align: center;
}

.team__before_title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.66;
}

.team__title {
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.team__text {
  margin-bottom: 37px;
}

.team__list {
  margin: 0 -10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
}

.team__item_card_overlay {
  position: relative;
  margin-bottom: 15px;
}

.team__item_img {
  width: 100%;
  @include transition(all);

  .team__item:hover &,
  .team__item:focus & {
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
  }
}

.team__name {
  margin-bottom: 11px;
  font-size: 23px;
  line-height: 1.25;
}

.team__item_overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  @include transition(all);

  .team__item:hover &,
  .team__item:focus & {
    transform: scale(1.03);
    opacity: 1;
  }
}

.team__social_list {
  display: flex;
  font-size: 35px;
  color: getColor("white-text");
}

.team__social_item {
  cursor: pointer;
  @include transition(all);

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

@media screen and (min-width: 768px) {
  .team__container {
    padding: 48px 30px 59px 30px;
  }

  .team__title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.65;
  }

  .team__text {
    margin-bottom: 34px;
  }

  .team__text_description {
    margin-bottom: 49px;
    font-size: 17px;
    line-height: 1.66;
  }

  .team__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }

  .team__name {
    margin-bottom: 12px;
    font-size: 25px;
    line-height: 1.27;
  }

  .team__position {
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1360px) {
  .team__container {
    padding-top: 49px;
  }

  .team__title {
    font-size: 20px;
  }

  .team__text_description {
    margin-bottom: 50px;
    font-size: 18px;
  }

  .team__position {
    font-size: 18px;
    line-height: 1.56;
  }
}
