.callback {
  background-color: getColor("add-bcg");
}

.callback__img {
  width: 100vw;
  height: 220px;
  object-fit: cover;
}

.callback__container {
  padding: 26px 30px 30px 30px;
}

.callback__title {
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.callback__input_field {
  padding-left: 5px;
  width: 260px;
  height: 40px;
  box-sizing: border-box;
  color: getColor("dark-text");
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.44;
  background: getColor("main-bcg");
  border: 1px solid #f5f5f5;
  outline-color: getColor("accent-text");
}

.callback__input_field:first-child {
  margin-bottom: 36px;
}

.callback__input_field:last-child {
  margin-bottom: 53px;
}

.callback__input_field::placeholder {
  color: getColor("placeholder-text");
}

.callback__btn {
  width: 260px;
  height: 42px;
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.38;
  color: getColor("white-text");
  background-color: getColor("main-accent-bcg");
  border-color: transparent;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .callback__tablet_container {
    display: flex;
    height: 349px;
  }

  .callback__img {
    width: 50vw;
    height: 100%;
  }

  .container.callback__tablet_container {
    width: 384px;
    margin: 0;
  }

  .callback__container {
    padding: 26px 0 30px 30px;
  }

  .callback__input_field {
    width: 324px;
    font-size: 18px;
    line-height: 1.28;
  }

  .callback__btn {
    width: 324px;
    font-size: 18px;
    line-height: 1.39;
  }
}

@media screen and (min-width: 1360px) {
  .callback__tablet_container {
    height: 460px;
  }

  .container.callback__tablet_container {
    width: 680px;
  }

  .callback__container {
    padding: 78px 0 82px 30px;
  }

  .callback__input_field {
    width: 620px;
    font-size: 18px;
    line-height: 1.28;
  }

  .callback__input_field:last-child {
    margin-bottom: 60px;
  }

  .callback__btn {
    width: 620px;
    font-size: 18px;
    line-height: 1.39;
  }
}