.footer {
  padding: 20px 0;
  color: getColor("white-text");
  background-color: getColor("dark-bcg");
  text-align: center;
}

.footer__social_list {
  margin-bottom: 9px;
  font-size: 0;
  row-gap: 25px;
}

.footer__social_item {
  cursor: pointer;
  display: inline-block;

  & i {
    font-size: 35px;
  }

  &:not(:last-child) {
    margin-right: 25px;
  }

  &:hover i,
  &:focus i {
    color: getColor("accent-text");
    @include transition(all);
  }
}