body {
  background-color: getColor("main-bcg");
  color: getColor("dark-text");
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: 100%;
  line-height: 1.6;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media screen and (min-width: $tablet) {
      max-width: 768px;
  }

  @media screen and (min-width: $desktop) {
      max-width: 1360px;
  }
  
}

.title__hidden {
  @extend %title-hidden;
}