<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2d547a4a7d.js"
      crossorigin="anonymous"
    ></script>
    <title>Finance Ledger</title>
  </head>
  <body>
    <header class="header">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH +
      "/00-header.html") %>
    </header>
    <main>
      <section class="hero" id="home">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH +
        "/01-hero.html") %>
      </section>
      <section class="benefits">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH +
        "/02-benefits.html") %>
      </section>
      <section class="about" id="about">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH +
        "/03-about.html") %>
      </section>
      <section class="cases" id="cases">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH +
        "/04-cases.html") %>
      </section>
      <section class="blog" id="blog">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH +
        "/05-blog.html") %>
      </section>
      <section class="team" id="team">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH +
        "/06-team.html") %>
      </section>
      <section class="callback" id="contacts">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH +
        "/07-callback.html") %>
      </section>
    </main>
    <footer class="footer">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH +
      "/08-footer.html") %>
    </footer>
  </body>
</html>
