<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Finance Ledger</title>
  </head>
  <body>
    <header>
      <!-- <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/00-header.html") %> -->
      <div class="container">
        <nav class="nav">
            <a href="index.html" class="nav__logo_link"
            ><svg class="nav__logo">
              <use href="images/content/00-svg/symbol-defs.svg#logo-book"></use>
            </svg>
            <p class="nav__logo_name">Finance<span class="nav__logo_name_accent">Ledger</span></p></a
          >
        
        <ul class="nav__list">
          <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
          <li class="nav__item"><a href="#cases" class="nav__link">Cases</a></li>
          <li class="nav__item"><a href="#blog" class="nav__link">Blog</a></li>
          <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
        </ul>
        </nav>
    </div>
    </header>
    <main>
      <section class="hero">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/01-hero.html") %>
      </section>
      <section class="about">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/02-about.html") %>
      </section>
      <section class="cases">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/03-cases.html") %>
      </section>
      <section class="blog">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/04-blog.html") %>
      </section>
      <section class="team">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/05-team.html") %>
      </section>
      <section class="callback">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/06-callback.html") %>
      </section>
    </main>
    <footer>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/07-footer.html") %>
    </footer>
  </body>
</html>
